## Teste ##

In [3]:

import types
import pandas as pd
from botocore.client import Config
import ibm_boto3

def __iter__(self): return 0

# @hidden_cell
# The following code accesses a file in your IBM Cloud Object Storage. It includes your credentials.
# You might want to remove those credentials before you share the notebook.
client_1424faa5261e4862b86a24b95d5c6553 = ibm_boto3.client(service_name='s3',
    ibm_api_key_id='zzzzzzzzzzzzzz',
    ibm_auth_endpoint="https://iam.cloud.ibm.com/oidc/token",
    config=Config(signature_version='oauth'),
    endpoint_url='https://s3-api.us-geo.objectstorage.service.networklayer.com')

body = client_1424faa5261e4862b86a24b95d5c6553.get_object(Bucket='test-donotdelete-pr-l1nmgmifkceowp',Key='level_2_br_16.csv')['Body']
# add missing __iter__ method, so pandas accepts body as file-like object
if not hasattr(body, "__iter__"): body.__iter__ = types.MethodType( __iter__, body )

df_data_1 = pd.read_csv(body)
df_data_1.head()

   name_0  name_1  name_2 id_0  id_1  id_2  mobilitychange        date
0  Brazil  Paraná  Ângulo   br    16  2761          0.4897  2020-03-01
1  Brazil  Paraná  Ângulo   br    16  2761          0.0000  2020-03-02
2  Brazil  Paraná  Ângulo   br    16  2761          0.5591  2020-03-03
3  Brazil  Paraná  Ângulo   br    16  2761          0.6698  2020-03-04
4  Brazil  Paraná  Ângulo   br    16  2761          0.6811  2020-03-05

In [4]:
df_data_1.date

0        2020-03-01
1        2020-03-02
2        2020-03-03
3        2020-03-04
4        2020-03-05
            ...
98638    2020-10-28
98639    2020-10-29
98640    2020-10-30
98641    2020-10-31
98642    2020-11-01
Name: date, Length: 98643, dtype: object